<main>
  <section class="section-1">
    <div class="banner">
      <div class="col-1">
        <div class="row-1">
          <h1>Upgrade to <span style="color: #F170F1">Instant</span></h1>
          <h3>Don't miss your chance to <span style="color: #F170F1"> feel the future</span> and <span style="color: #F170F1">be the future.</span></h3>
          <h3>Ready to launch?</h3>
        </div>
        <div class="row-2">
          <div class="controls">
            <button>Free Week</button>
            <button>View Plans</button>
          </div>
          <p style="width: 70%">Terms and conditions apply. 1 month free not available for users who have already tried Premium.</p>
        </div>
      </div>
      <div class="col-2">
        <img src="../../../assets/plans-banner.png" alt="vynity">
        <span class="banner-image">
        <img src="../../../assets/VYNITY.png" alt="">
        <h1>YNITY INSTANT</h1>
      </span>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="col-1">
      <div class="row--1">
        <h1>Future awaits you</h1>
        <h3>
          With every Vynity's plan you get unlimited market analysis, unbiased opinions and <span style="color: #1DB4CC">future forecasts.</span>
        </h3>
        <h6 style="color: #9A9A9A">Learn more</h6>
      </div>
    </div>
    <div class="col-2">
      <img src="../../../assets/Group%202.png" alt="">
    </div>
  </section>
  <section class="section-3">
    <div class="plans">
      <h1>Choose a plan tha fits you</h1>

      <div class="plan-cards">
        <div class="plan-card" style="background: #101014">
          <h1 style="color: white">LONG</h1>
          <div class="card-content">
            <div class="info">
              <h2>Forecast</h2>
              <ul>
                <li>Detailed market forecasts</li>
              </ul>
              <h2>Analysis</h2>
              <ul>
                <li>Histories of the assets</li>
                <li>Market analysis</li>
              </ul>
              <h2>Markets</h2>
              <ul>
                <li>Crypto</li>
                <li>Stocks</li>
              </ul>
            </div>
            <div class="duration">
              <h1>7 + Month</h1>
            </div>
          </div>
          <button>Free</button>
        </div>

        <div class="plan-card" style="background: #101014">
          <h1 style="color: white">MID</h1>
          <div class="card-content">
            <div class="info">
              <h2>Forecast</h2>
              <ul>
                <li>Detailed market forecasts</li>
              </ul>
              <h2>Analysis</h2>
              <ul>
                <li>Histories of the assets</li>
                <li>Market analysis</li>
              </ul>
              <h2>Markets</h2>
              <ul>
                <li>Crypto</li>
                <li>Stocks</li>
              </ul>
            </div>
            <div class="duration">
              <h1>3 - 7 Month</h1>
            </div>
          </div>
          <button>Free</button>
        </div>

        <div class="plan-card white-card" style="background: #fff; color: black">
          <h1>SHORT</h1>
          <div class="card-content">
            <div class="info">
              <h2>Forecast</h2>
              <ul>
                <li>Detailed market forecasts</li>
              </ul>
              <h2>Analysis</h2>
              <ul>
                <li>Histories of the assets</li>
                <li>Market analysis</li>
              </ul>
              <h2>Markets</h2>
              <ul>
                <li>Crypto</li>
                <li>Stocks</li>
              </ul>
            </div>
            <div class="duration">
              <h1>1 - 3 Month</h1>
            </div>
          </div>
          <button style="background: #1db4cc; border: 0">$15/month</button>
        </div>

        <div class="plan-card purple-card" style="background: #202F72; color: white">
          <h1 style="color: white">INSTANT</h1>
          <div class="card-content">
            <div class="info">
              <h2>Forecast</h2>
              <ul>
                <li>Detailed market forecasts</li>
              </ul>
              <h2>Analysis</h2>
              <ul>
                <li>Histories of the assets</li>
                <li>Market analysis</li>
              </ul>
              <h2>Markets</h2>
              <ul>
                <li>Crypto</li>
                <li>Stocks</li>
              </ul>
            </div>
            <div class="duration">
              <h1 style="color: #F170F2">Up to 3 Weeks</h1>
            </div>
          </div>
          <button style="background: transparent; border: 1px solid white; color: white">$25/month</button>
        </div>
      </div>
      <p>
        Each plan includes Financial Counseling services which is impersonal investment advice, as it relates to guides, reports, and education material about investing and financial planning. Each plan includes the option to open a brokerage account and a bank account. The subscription fee is due if a client is receiving Financial Counseling Services regardless of whether or not a client chooses to open and/or use a brokerage account. In order to obtain personalized investment advice, clients are required to complete the suitability questionnaire during registration, must be approved from an account verification perspective and open a brokerage account. Click here for more details.
      </p>
    </div>
  </section>
  <section class="section-4">
    <section class="faq">
      <h1>Frequently Asked Questions</h1>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is Vynity?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do we predict prices?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is Vynity's mission?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              What's our roadmap?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </section>
  </section>
  <app-footer style="width: 100%"></app-footer>
</main>
