<main>
  <div class="trending">
    <div class="title">
      <h1>Trending <span class="drop-arrow-blue-text">Crypto</span> Markets</h1>
      <p>Coins that are popular in our community right now</p>
    </div>
    <div class="coins">
      <div class="coin" style="background: linear-gradient(#ff9416 0%, rgba(228, 143, 44, 0.87) 100%);">
        <img src="../../../assets/btclogo.png" alt="">
        <h1>BTC</h1>
        <h5>19,816.70</h5>
        <h6>+ 2.13%</h6>
      </div>

      <div class="coin" style="background: linear-gradient(#211f1f 0%, #393939 100%);">
        <img src="../../../assets/ethereum-eth-logo.png" alt="">
        <h1>BTC</h1>
        <h5>19,816.70</h5>
        <h6>+ 2.13%</h6>
      </div>

      <div class="coin" style="background: linear-gradient(#23292f 0%, #45494d 100%);">
        <img src="../../../assets/3635.png" alt="">
        <h1>BTC</h1>
        <h5>19,816.70</h5>
        <h6>+ 2.13%</h6>
      </div>

      <div class="coin" style="background: linear-gradient(#ff0013 0%, #80000a 100%);">
        <img src="../../../assets/1958.png" alt="">
        <h1>BTC</h1>
        <h5>19,816.70</h5>
        <h6>+ 2.13%</h6>
      </div>

      <div class="coin" style="background: linear-gradient(#f3ba2f 0%, rgba(233, 176, 38, 0.81) 100%);">
        <img src="../../../assets/Binance-Coin-BNB-icon.png" alt="">
        <h1>BTC</h1>
        <h5>19,816.70</h5>
        <h6>+ 2.13%</h6>
      </div>
    </div>
    <div class="list-of-crypto">
      <h3>Current Market Prices</h3>
      <p>Learn more about our lister cryptocurrencies</p>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div #listedCryptos></div>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
  <div class="rising-industries">
    <h1 class="title">Rising industries</h1>
    <div class="item-grid">
      <div class="left">
        <div class="top">
          <div class="image-box renewable-energy">
            <h1>Renewable Energy</h1>
            <p>12.95% Return (1YR)</p>
          </div>

          <div class="image-box gaming">
            <h1>Renewable Energy</h1>
            <p>12.95% Return (1YR)</p>
          </div>
        </div>

        <div class="bottom">
          <div class="image-box microchips">
            <h1>Renewable Energy</h1>
            <p>12.95% Return (1YR)</p>
          </div>

          <div class="image-box pharmaceuticals">
            <h1>Renewable Energy</h1>
            <p>12.95% Return (1YR)</p>
          </div>
        </div>
      </div>

      <div class="image-box agriculture">
        <h1>Renewable Energy</h1>
        <p>12.95% Return (1YR)</p>
      </div>
    </div>
  </div>
  <div class="feel-the-future">
    <h1>Feel the future be the future</h1>
    <div class="bar">
      <img src="../../../assets/VynitySmall.png" alt="vynity">
      <div class="bar-text">
        <h1>Starting-Budget</h1>
        <h1>Desired Return</h1>
        <h1>Market</h1>
      </div>
      <button>Launch</button>
    </div>
    <p>
      Each plan includes Financial Counseling services which is impersonal investment advice, as it relates to guides, reports, and education material about investing and financial planning.
    </p>
  </div>
  <div class="current-market">
    <h1 class="title-main">Currency Market</h1>
    <div class="box-container">
      <div class="market-box">
        <div class="title">
          <h1>Vynity</h1>
        </div>
        <div class="country">
          <h2>USD | CHF</h2>
        </div>
        <div class="price">
          <p>0.96</p>
          <p>+0.16%</p>
        </div>
      </div>

      <div class="market-box">
        <div class="title">
          <h1>Vynity</h1>
        </div>
        <div class="country">
          <h2>USD | CHF</h2>
        </div>
        <div class="price">
          <p>0.96</p>
          <p>+0.16%</p>
        </div>
      </div>

      <div class="market-box">
        <div class="title">
          <h1>Vynity</h1>
        </div>
        <div class="country">
          <h2>USD | CHF</h2>
        </div>
        <div class="price">
          <p>0.96</p>
          <p>+0.16%</p>
        </div>
      </div>

      <div class="market-box">
        <div class="title">
          <h1>Vynity</h1>
        </div>
        <div class="country">
          <h2>USD | CHF</h2>
        </div>
        <div class="price">
          <p>0.96</p>
          <p>+0.16%</p>
        </div>
      </div>

      <div class="market-box">
        <div class="title">
          <h1>Vynity</h1>
        </div>
        <div class="country">
          <h2>USD | CHF</h2>
        </div>
        <div class="price">
          <p>0.96</p>
          <p>+0.16%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="community-favorites">
    <h1 class="title-main">
      Community Favorites
    </h1>

    <div class="item-list">
      <div class="favorite-item">
        <div class="left"></div>
        <div class="right">
          <div class="top">
            <h1>FedEx Corporation</h1>
          </div>
          <div class="bottom">
            <h1>162.02<span>usd</span></h1>
          </div>
        </div>
      </div>

      <div class="favorite-item">
        <div class="left"></div>
        <div class="right">
          <div class="top">
            <h1>FedEx Corporation</h1>
          </div>
          <div class="bottom">
            <h1>162.02<span>usd</span></h1>
          </div>
        </div>
      </div>

      <div class="favorite-item">
        <div class="left"></div>
        <div class="right">
          <div class="top">
            <h1>FedEx Corporation</h1>
          </div>
          <div class="bottom">
            <h1>162.02<span>usd</span></h1>
          </div>
        </div>
      </div>

      <div class="favorite-item">
        <div class="left"></div>
        <div class="right">
          <div class="top">
            <h1>FedEx Corporation</h1>
          </div>
          <div class="bottom">
            <h1>162.02<span>usd</span></h1>
          </div>
        </div>
      </div>

      <div class="favorite-item">
        <div class="left"></div>
        <div class="right">
          <div class="top">
            <h1>FedEx Corporation</h1>
          </div>
          <div class="bottom">
            <h1>162.02<span>usd</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="market-data">
    <h1 class="title">Market Data</h1>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div #marketData></div>
    </div>
    <!-- TradingView Widget END -->
  </div>
  <app-footer style="width: 100%"></app-footer>
</main>
