<footer>
  <div class="footer-info">
    <div class="left">
      <div class="brand-info">
        <h1>VYNITY</h1>
        <h4>Feel the Future, Be the Future</h4>
      </div>

      <div class="social-icons" style="display: grid; grid-template-columns: repeat(3, 1fr); width: 20px; gap: 47px">
        <fa-icon [icon]="faTwitter" size="2xl"></fa-icon>
        <fa-icon [icon]="faFacebook" size="2xl"></fa-icon>
        <fa-icon [icon]="faYoutube" size="2xl"></fa-icon>
        <fa-icon [icon]="faInstagram" size="2xl"></fa-icon>
        <fa-icon [icon]="faTelegram" size="2xl"></fa-icon>
        <fa-icon [icon]="faDiscord" size="2xl"></fa-icon>
      </div>
    </div>
    <div class="right">
      <ul>
        <li style="color: #1DB4CC; font-weight: bold;">Products</li>
        <li>Chart</li>
        <li>Stock Screener</li>
        <li>Forex Screener</li>
        <li>Crypto Screener</li>
        <li>Stock Heatmap</li>
        <li>Crypto Heatmap</li>
        <li>Economics Calendar</li>
        <li>Earnings Calendar</li>
      </ul>

      <ul>
        <li style="color: #1DB4CC; font-weight: bold;">Company</li>
        <li>Chart</li>
        <li>Stock Screener</li>
        <li>Forex Screener</li>
        <li>Crypto Screener</li>
        <li>Stock Heatmap</li>
        <li>Crypto Heatmap</li>
        <li>Economics Calendar</li>
        <li>Earnings Calendar</li>
      </ul>

      <ul>
        <li style="color: #1DB4CC; font-weight: bold;">Community</li>
        <li>Chart</li>
        <li>Stock Screener</li>
        <li>Forex Screener</li>
        <li>Crypto Screener</li>
        <li>Stock Heatmap</li>
        <li>Crypto Heatmap</li>
        <li>Economics Calendar</li>
        <li>Earnings Calendar</li>
      </ul>

      <ul>
        <li style="color: #1DB4CC; font-weight: bold;">For business</li>
        <li>Chart</li>
        <li>Stock Screener</li>
        <li>Forex Screener</li>
        <li>Crypto Screener</li>
        <li>Stock Heatmap</li>
        <li>Crypto Heatmap</li>
        <li>Economics Calendar</li>
        <li>Earnings Calendar</li>
      </ul>
    </div>
  </div>
  <div class="creds">
    <img src="../../../assets/mobileStore.png">
    <div class="d-flex align-items-center justify-content-center">
      <img src="../../../assets/VynitySmall.png" alt="">
      <h1>Select market data provided by <span>ICE Data Services</span>
        © 2022 <span>Vynity, Inc.</span></h1>
    </div>
  </div>
</footer>
